{% block body %}
<div class="row result-container">
  <div class="train-wrapp">
    <!-- ######### STACJA PRZYSTANEK ######### -->
    <div class="info-station">
      <!-- /.present-time -->
      <!-- /.row results -->
      <!-- ########## CONTENT RESULTS ########## -->
      <div class="info-station-table-dots">
        <div class="connection-dots">
          <div class="line"></div>
          <!-- /.line -->
          <div class="mask"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <table class="f-table-3 f-table-4 table demo show footable-loaded footable desktop breakpoint">
          <thead>
          <tr>
            <th data-sort-ignore="true" data-hide="desktop,tablet" style="display: none;">
            </th>
            <th data-sort-ignore="true" class="footable-visible footable-first-column">Stacja/przystanek</th>
            <th data-sort-ignore="true" class="footable-visible">Przyjazd</th>
            <th data-sort-ignore="true" class="footable-visible">Odjazd</th>
            <th data-sort-ignore="true" data-hide="sphone,mphone,phone" class="footable-visible footable-last-column">Kurs</th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=now&amp;input=8400387&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Leeuwarden</a>
            </td>
            <td class="footable-visible">
              &nbsp;
              &nbsp;
            </td>
            <td class="footable-visible">
              17:46
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              IC   666
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=18:02&amp;input=8400305&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Heerenveen</a>
            </td>
            <td class="footable-visible">
              18:02
              &nbsp;
            </td>
            <td class="footable-visible">
              18:02
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=18:16&amp;input=8400578&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Steenwijk</a>
            </td>
            <td class="footable-visible">
              18:16
              &nbsp;
            </td>
            <td class="footable-visible">
              18:16
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=18:26&amp;input=8400435&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Meppel</a>
            </td>
            <td class="footable-visible">
              18:26
              &nbsp;
            </td>
            <td class="footable-visible">
              18:26
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=18:50&amp;input=8400747&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Zwolle</a>
            </td>
            <td class="footable-visible">
              18:42
              &nbsp;
            </td>
            <td class="footable-visible">
              18:50
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=19:27&amp;input=8400055&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Amersfoort</a>
            </td>
            <td class="footable-visible">
              19:25
              &nbsp;
            </td>
            <td class="footable-visible">
              19:27
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=19:48&amp;input=8400621&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Utrecht Centraal</a>
            </td>
            <td class="footable-visible">
              19:41
              &nbsp;
            </td>
            <td class="footable-visible">
              19:48
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=20:07&amp;input=8400258&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Gouda</a>
            </td>
            <td class="footable-visible">
              20:06
              &nbsp;
            </td>
            <td class="footable-visible">
              20:07
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=20:16&amp;input=8400507&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Rotterdam Alexander</a>
            </td>
            <td class="footable-visible">
              20:16
              &nbsp;
            </td>
            <td class="footable-visible">
              20:16
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;time=now&amp;input=8400530&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Rotterdam Centraal</a>
            </td>
            <td class="footable-visible">
              20:25
              &nbsp;
            </td>
            <td class="footable-visible">
              &nbsp;
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              &nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </div><!-- col-md-12 -->
      <h3 class="more-info-header">Dalsze informacje:</h3>
      <ul class="more-info">
        <li>
          ograniczony przewóz rowerów w wag. nieprzyst.
        </li>
      </ul>
    </div><!-- row results-box -->
  </div><!-- container -->
</div>
{% endblock %}
