{% block body %}

  <div class="train-wrapp">
    <!-- ######### STACJA PRZYSTANEK ######### -->
    <div class="info-station">
      <!-- /.present-time -->
      <!-- /.row results -->
      <!-- ########## CONTENT RESULTS ########## -->
      <div class="info-station-table-dots">
        <div class="connection-dots">
          <div class="line"></div>
          <!-- /.line -->
          <div class="mask"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <table class="f-table-3 f-table-4 table demo show footable-loaded footable desktop breakpoint">
          <thead>
          <tr>
            <th data-sort-ignore="true" data-hide="desktop,tablet" style="display: none;">
            </th>
            <th data-sort-ignore="true" class="footable-visible footable-first-column">Stacja/przystanek</th>
            <th data-sort-ignore="true" class="footable-visible">Przyjazd</th>
            <th data-sort-ignore="true" class="footable-visible">Odjazd</th>
            <th data-sort-ignore="true" data-hide="sphone,mphone,phone" class="footable-visible">Kurs</th>
            <th data-sort-ignore="true" data-hide="sphone,mphone,phone" class="footable-visible footable-last-column">Peron / tor</th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=now&amp;input=5100002&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Białystok</a>
            </td>
            <td class="footable-visible">
              &nbsp;
              &nbsp;
            </td>
            <td class="footable-visible">
              20:28
              &nbsp;
            </td>
            <td class="footable-visible">
              IC 16170
              KARKONOSZE
            </td>
            <td class="footable-visible footable-last-column">
              III/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=20:47&amp;input=5100127&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Łapy</a>
            </td>
            <td class="footable-visible">
              20:46
              &nbsp;
            </td>
            <td class="footable-visible">
              20:47
              &nbsp;
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=21:03&amp;input=5100148&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Szepietowo</a>
            </td>
            <td class="footable-visible">
              21:02
              &nbsp;
            </td>
            <td class="footable-visible">
              21:03
              &nbsp;
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              III/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=21:14&amp;input=5100097&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Czyżew</a>
            </td>
            <td class="footable-visible">
              21:13
              &nbsp;
            </td>
            <td class="footable-visible">
              21:14
              &nbsp;
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=21:39&amp;input=5100087&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Małkinia</a>
            </td>
            <td class="footable-visible">
              21:38
              &nbsp;
            </td>
            <td class="footable-visible">
              21:39
              &nbsp;
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=22:05&amp;input=5102073&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Łochów</a>
            </td>
            <td class="footable-visible">
              22:04
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              22:05
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/3
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=22:18&amp;input=5103787&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Tłuszcz</a>
            </td>
            <td class="footable-visible">
              22:17
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              22:18
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              III/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=22:49&amp;input=5100066&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Warszawa Wschodnia</a>
            </td>
            <td class="footable-visible">
              22:47
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              22:49
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/12
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=23:05&amp;input=5100065&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Warszawa Centralna</a>
            </td>
            <td class="footable-visible">
              22:55
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              23:05
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              III/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=23:13&amp;input=5100067&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Warszawa Zachodnia</a>
            </td>
            <td class="footable-visible">
              23:09
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              23:13
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              VI/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=23:33&amp;input=5104415&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Żyrardów</a>
            </td>
            <td class="footable-visible">
              23:32
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              23:33
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=23:47&amp;input=5100294&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Skierniewice</a>
            </td>
            <td class="footable-visible">
              23:46
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              23:47
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=00:09&amp;input=5100024&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Koluszki</a>
            </td>
            <td class="footable-visible">
              00:08
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              00:09
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/5
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=00:31&amp;input=5101974&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Łódź Widzew</a>
            </td>
            <td class="footable-visible">
              00:21
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              00:31
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/3
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=00:39&amp;input=5100038&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Łódź Chojny</a>
            </td>
            <td class="footable-visible">
              00:38
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              00:39
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              III/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=01:00&amp;input=5100188&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Pabianice</a>
            </td>
            <td class="footable-visible">
              00:59
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              01:00
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=01:35&amp;input=5100231&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Zduńska Wola</a>
            </td>
            <td class="footable-visible">
              01:34
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              01:35
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=01:47&amp;input=5100054&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Sieradz</a>
            </td>
            <td class="footable-visible">
              01:46
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              01:47
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=02:22&amp;input=5100017&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Kalisz</a>
            </td>
            <td class="footable-visible">
              02:21
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              02:22
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=02:40&amp;input=5100047&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Ostrów Wielkopolski</a>
            </td>
            <td class="footable-visible">
              02:39
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              02:40
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/6
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=03:05&amp;input=5100307&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Krotoszyn</a>
            </td>
            <td class="footable-visible">
              03:04
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              03:05
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=03:45&amp;input=5100245&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Oleśnica Rataje</a>
            </td>
            <td class="footable-visible">
              03:44
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              03:45
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=04:05&amp;input=5100255&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Wrocław Nadodrze</a>
            </td>
            <td class="footable-visible">
              04:04
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              04:05
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=04:10&amp;input=5104134&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Wrocław Mikołajów</a>
            </td>
            <td class="footable-visible">
              04:09
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              04:10
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=04:28&amp;input=5100069&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Wrocław Główny</a>
            </td>
            <td class="footable-visible">
              04:16
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              04:28
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/3
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=05:03&amp;input=5100077&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Jaworzyna Śląska</a>
            </td>
            <td class="footable-visible">
              05:02
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              05:03
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              III/2
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=05:13&amp;input=5103275&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Świebodzice</a>
            </td>
            <td class="footable-visible">
              05:12
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              05:13
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=05:29&amp;input=5100210&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Wałbrzych Miasto</a>
            </td>
            <td class="footable-visible">
              05:27
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              05:29
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=05:41&amp;input=5100064&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Wałbrzych Główny</a>
            </td>
            <td class="footable-visible">
              05:40
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              05:41
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              I/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=05:58&amp;input=5103361&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Sędzisław</a>
            </td>
            <td class="footable-visible">
              05:57
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              05:58
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=06:04&amp;input=5100078&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Marciszów</a>
            </td>
            <td class="footable-visible">
              06:03
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              06:04
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              III/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=06:13&amp;input=5101483&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Janowice Wielkie</a>
            </td>
            <td class="footable-visible">
              06:12
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              06:13
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/1
            </td>
          </tr>
          <tr class="odd">
            <td style="display: none;"><span class="footable-toggle"></span>

              <span class="zwin">zwiń</span>
              <span class="rozwin">rozwiń</span>
            </td>
            <td class="footable-visible footable-first-column">
              <a href="/pl/sq?ld=s20test&amp;seqnr=3&amp;ident=8i.01716059.1559845224&amp;time=now&amp;input=5100259&amp;boardType=dep&amp;productsFilter=1111111&amp;start=start">Jelenia Góra</a>
            </td>
            <td class="footable-visible">
              06:25
              <span class="prognosis">
<img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
              <span class="prognosis">
&nbsp;
</span>
            </td>
            <td class="footable-visible">
              &nbsp;
            </td>
            <td class="footable-visible footable-last-column">
              II/4
            </td>
          </tr>
          </tbody>
        </table>
        <span class="hint_realtime" style="margin-left:10px"><img src="/hafas-res/img/rt_on_time.gif" border="0" alt="prognozowany planowy przyjazd pociągu">&nbsp;prognozowany planowy przyjazd pociągu</span>
      </div><!-- col-md-12 -->
      <h3 class="more-info-header">Dalsze informacje:</h3>
      <ul class="more-info">
        <li>
          PKP Intercity
        </li>
        <li>
          pociąg z jednostek elektrycznych
        </li>
        <li>
          Możliwość zakupu na bilkom.pl i w aplikacji Bilkom Bilety
        </li>
        <li>
          wagon gastronomiczny
        </li>
        <li>
          przewóz rowerów - l. miejsc ograniczona
        </li>
        <li>
          rezerwacja miejsc
        </li>
        <li>
          klimatyzacja
        </li>
        <li>
          miejsca dla osób z dziećmi do lat 6
        </li>
        <li>
          wagon dla osób niepełnosprawnych z platformą
        </li>
        <li>
          przewóz przesyłek konduktorskich
        </li>
        <li>
          Wifi
        </li>
        <li>
          wagon z oznaczeniami w alfabecie Braille`a
        </li>
      </ul>
    </div><!-- row results-box -->
  </div>

{% endblock %}
