{% block body %}

<div class="left-col searcher-pl" id="wyszukiwarka" tabindex="0">

  <h2 class="wcag-hide">Wyszukiwarka połączeń kolejowych - wyszukaj pociąg</h2>
  <form action="/pl/ts?#focus" name="ts_trainsearch" method="get" class="form-horizontal" onsubmit="return  window.validateTsSearch()" novalidate="novalidate">
    <div class="map">
      <span class="map-close">zamknij<strong>[X]</strong></span>
      <img src="/img/content/icons/map/mapa3.png" class="img-responsive" alt="Mapa">
    </div>
    <!-- /.map -->
    <span id="wcag-h1" class="help-1 ico-main-search-4 pover qhelp" data-container="body" data-toggle="popover" data-placement="left" data-content="Podaj numer pociągu" data-qhelp-name="ts-pola-linia" data-original-title="" title="">?<span class="wcag-hide">Podaj numer pociągu</span></span>
    <span class="help-1a ico-main-search-4 pover qhelp" data-container="body" data-toggle="popover" data-placement="left" data-content="Podaj stację" data-qhelp-name="ts-pola-stacja" data-original-title="" title="">?<span class="wcag-hide">Podaj stację</span></span>
    <div class="row from">
      <div class="col-1">
{#        <img src="/img/content/icons/train-number.png" class="ico-train-number pover qhelp" data-container="body" data-toggle="popover" data-placement="top" data-content="Podaj numer pociągu" data-qhelp-name="nr-pociagu" data-original-title="" title="" alt="Podaj numer pociągu">#}
      </div><!--  col-1 -->
      <div class="col-2">
        <!-- Text input-->
        <div class="input-group input-group--table active">
          <div class="d-table">
            <div class="input-group-addon--fix input-group-addon--fix-train upper">
              <img src="/img/content/icons/main/train-ico.png" alt="">
            </div>
            <fieldset>
              <label for="wcag-t-name" class="wcag-hide">NR POCIĄGU / LINII</label>
              <input id="wcag-t-name" type="text" name="trainname" value="" class="form-control form-control--switch" placeholder="">
            </fieldset>
          </div>
          <div class="input-group__description">
            <div>NR POCIAGU/LINII</div>
          </div>
        </div><!-- input-group -->
      </div><!-- col-2 -->
    </div><!-- row from -->
    <!-- midpage -->
    <div class="row from">
      <div class="col-1">
{#        <img src="/img/content/icons/station-stop.png" class="ico-station-stop pover qhelp" data-container="body" data-toggle="popover" data-placement="top" data-content="Wybierz nazwę stacji" data-qhelp-name="stacja" data-original-title="" title="" alt="Wybierz nazwę stacji">#}
      </div><!--	col-1 -->
      <div class="col-2">
        <!-- Text input-->
        <div class="input-group input-group--table active">
          <div class="d-table">
            <div class="input-group-addon--fix input-group-addon--fix-place upper">
              <img src="/img/content/icons/main/place-ico.png" alt="">
            </div>
            <fieldset class="wcag-100">
              <label for="wcag-station-name" class="wcag-hide"></label>
              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible" style="display: none;"></span><input type="text" name="stationname" value="" class="form-control form-control--switch station-autocomplete upcase ui-autocomplete-input" placeholder="" id="wcag-station-name" autocomplete="off">
            </fieldset>
          </div>
          <div class="input-group__description">
            <div>Wpisz nazwę stacji</div>
          </div>
        </div><!-- input-group -->
      </div><!-- col-2 -->
    </div><!-- row from -->
    <!-- ########## DATE ########## -->
    <!-- ########## DATE CONTAINER ########## -->
    <div class="row date-container datetime-no-time">
      <div class="date-wrapper">
        <div class="date-box"></div><!-- data-box -->
        <div class="row data-picker">
          <div class="date-input-box">
            <span class="name-hour upper">Wpisz godzinę</span><!-- name-hour --><br>
            <div class="hour-input-field">
              <!-- <input type="hidden" id="hour-callendar" class="form-control"  placeholder="" /> --><!-- day-hour -->
              <!-- ########## GODZINA ########## -->
              <div class="row">
                <div class="btn-group-vertical hours">
                  <ul class="wcag-flat">
                    <li>
                      <button type="button" class="left btn btn-time-up">
                        <img src="/img/content/icons/arrow-up-5.png" class="center" alt="Godzinę wcześniej">
                      </button>
                    </li>
                    <li>
                      <button type="button" class="left btn btn-down-up">
                        <img src="/img/content/icons/arrow-down-5.png" class="center" alt="Godzinę później">
                      </button>
                    </li>
                  </ul>
                  <!-- /.wcag-flat -->
                </div><!-- btn-group-vertical hours -->
                <div class="data-field" aria-live="polite" aria-atomic="true">
                  <input type="text" class="day-hour form-control" placeholder="" style="text-align: right;"><!-- day-hour -->
                </div><!-- data-field -->
                <div class="btn-group-vertical minutes">
                  <ul class="wcag-flat">
                    <li>
                      <button type="button" class="left btn btn-time-up">
                        <img src="/img/content/icons/arrow-up-5.png" class="center" alt="1 minut wcześniej">
                      </button>
                    </li>
                    <li>
                      <button type="button" class="left btn btn-down-up">
                        <img src="/img/content/icons/arrow-down-5.png" class="center" alt="1 minut później">
                      </button>
                    </li>
                  </ul>
                  <!-- /.wcag-flat -->
                </div><!-- btn-group-vertical minutes -->
              </div><!-- row -->
              <!-- ########## GODZINA ########## -->
            </div><!-- hour-input-field -->
            <div id="slider-horizontal"></div>
            <span class="hour-slider upcase">Godzina:</span>
            <!-- <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" /> -->
            <div id="slider-horizontal2"></div>
            <span class="minute-slider upcase">Minuta:</span>
            <!-- <input type="text" id="amount2" style="border: 0; color: #f6931f; font-weight: bold;" /> -->
          </div><!-- date-input-box -->
          <button type="button" class="btn btn-default pick-date upcase">Wybierz datę</button>
          <button type="button" class="btn btn-default now upcase">Teraz</button>
        </div><!-- row -->
      </div><!-- date-wrapper -->
    </div><!-- data-container -->
    <!-- ########## DATA CONTAINER ########## -->
    <div class="row data-picker datetime-no-time">
      <span id="wcag-h2" class="help-2 ico-main-search-4 pover qhelp" data-container="body" data-toggle="popover" data-placement="left" data-content="Podaj czas odjazdu lub przyjazdu" data-qhelp-name="ts-pola-czas" data-original-title="" title="">?<span class="wcag-hide">Podaj czas odjazdu lub przyjazdu</span></span>
      <div class="col-1">
        <!-- <img src="/img/content/icons/clock.png" class="ico-search clock" alt="DATA"/> -->
{#        <span id="wcag-h-time" class="time ico-main-search pover qhelp" data-container="body" data-toggle="popover" data-placement="top" data-content="Wybierz datę" data-qhelp-name="ts-wybierz-date" data-original-title="" title=""><img src="/img/content/icons/main/time.png" alt=""><span class="wcag-hide">Wybierz datę</span></span>#}
      </div><!-- col-1 -->
      <div class="col-2">
        <!-- ########## DATA ########## -->
{#        <span class="name-data">Wybierz dzień</span><!-- name-data -->#}
        <div class="row">
          <button type="button" class="left btn-pkp-reverse">
            <img src="/img/content/icons/arrow-left-4.png" class="center" alt="Dzień wcześniej">
          </button>
          <div class="data-filed"><span class="day-name" style="float: none; margin-top: 7px;">CZWARTEK </span><span class="day-number">6 </span><span class="day-month" style="float: none;">CZERWIEC </span><span class="day-year" style="float: none;">2019 </span><input type="hidden" name="date" value="06.06.19"><input type="hidden" name="dateStart" value="06.06.19"><input type="hidden" name="dateEnd" value="06.06.19"><input type="hidden" name="REQ0JourneyDate" value="06.06.19"></div><!-- data-field -->
          <button type="button" class="right btn-pkp-reverse">
            <img src="/img/content/icons/arrow-right-4.png" class="center" alt="Dzień później">
          </button>
        </div><!-- row -->
        <!-- ########## DATA ########## -->
      </div><!-- col-2 -->
      <div class="col-3">
        <!-- ########## DATA OPTIONS ########## -->
        <div class="data-options">
          <div class="callender">
            <span class="cal-big img-data-picker ico-main-search-3 pover qhelp pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="Wybierz datę" data-qhelp-name="ts-wybierz-date" data-original-title="" title=""><img src="/img/content/icons/main/cal.png" alt=""><span class="wcag-hide">Wybierz datę</span></span>
            <span class="upcase pointer"><img src="/img/content/icons/main/cal.png" alt="" style="display: none" class="xs-pic">Wybierz datę</span>
            <!-- <img src="/img/content/icons/data-picker.png" class="img-data-picker" alt="Wybierz dat&#281;" /> -->
          </div><!-- callender -->
        </div><!-- row data-options -->
        <!-- ########## DATA OPTIONS ########## -->
      </div><!-- col-3 -->
    </div><!-- row data-picker -->
    <!-- ########## DATA PICKER ########## -->
    <input type="hidden" name="selectDate" value="oneday">
    <div class=" row control-group control-group--search-button">
      <div class="col-3">
        <div class="controls">
          <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">
            <span>WYSZUKAJ POŁĄCZENIE <img src="/img/header/search_ico.png" class="search-icon" alt=""></span>
            <span class="glyphicon glyphicon-repeat ico-main-search"></span>
          </button>
        </div>
      </div><!-- col-3 -->
    </div>
  </form>

</div>

  <script>
      (function ($) {
          $(document).ready(function () {
              ///
              // od tąd kopiuj, trza to wsadzić gdzieś
              // gdzie hafas utworzy już wszystkie elementy DOM
              // używane przez ten skrypt
              ///
              (function () {
                  var groups = $('.input-group--table');
                  if (groups && groups.length > 0) {
                      $('.input-group--table').each(function (index, item) {
                          var input = $(item).find('.form-control--switch');
                          var description = $(item).find('.input-group__description');
                          var descriptionVia = $(item).find('.input-group__description--via').find('.input-group__description-text');

                          input.focus(function() {
                              if (description) description.css('visibility', 'hidden');
                              if (descriptionVia) descriptionVia.css('visibility', 'hidden');
                          });

                          input.focusout(function() {
                              if (!input.val()) {
                                  description.css('visibility', 'visible');
                                  descriptionVia.css('visibility', 'visible');
                              }
                          });
                      });
                  }
              })();
              ///
              // koniec do kopiowania
              ///
          });
      })(jQuery);
  </script>

{% endblock %}
