{% block body %}

  <div class="search" id="wyszukiwarka-wyniki" tabindex="0">
    <div class="col-1">
      <div class="input-group input-group--table active">
        <div class="d-table">
          <div class="input-group-addon--fix input-group-addon--fix-from upper">
            <img src="/img/content/icons/main/from.png" alt="">Z:
          </div>
          <fieldset>
            <label for="wcag-from" class="wcag-hide">Stacja / Przystanek</label>
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible" style="display: none;"></span>
            <input id="wcag-from" type="text" name="input" class="form-control form-control--switch station-autocomplete ui-autocomplete-input" placeholder="" autocomplete="off">
          </fieldset>
        </div>
        <div class="input-group__description">
          <div>Wpisz nazwę stacji</div>
        </div>
      </div><!-- input-group -->
    </div>
    <!-- /.col-1 -->
    <div class="col-3">
      <!-- ########## DATE ########## -->
      <div class="row">
        <button type="button" class="left btn-pkp-reverse">
          <img src="/img/content/icons/arrow-left-4.png" class="center" alt="Dzień wcześniej">
        </button>
        <div class="data-filed" aria-live="polite" aria-atomic="true"><span class="day-name" style="float: none; margin-top: 7px;">CZWARTEK </span><span class="day-number">6 </span><span class="day-month" style="float: none;">CZERWIEC </span><span class="day-year" style="float: none;">2019 </span><input type="hidden" name="date" value="06.06.19"><input type="hidden" name="dateStart" value="06.06.19"><input type="hidden" name="REQ0JourneyDate" value="06.06.19"><input type="hidden" name="time" value="22:08"></div><!-- data-field -->
        <button type="button" class="right btn-pkp-reverse">
          <img src="/img/content/icons/arrow-right-4.png" class="center" alt="Dzień później">
        </button>
      </div><!-- row -->
      <!-- ########## DATE ########## -->
    </div>
    <!-- /.col-3 -->
    <div class="col-4">
      <!-- ########## HOUR ########## -->
      <div class="row">
        <div class="btn-group-vertical hours">
          <ul class="wcag-flat">
            <li>
              <button type="button" class="left btn btn-time-up">
                <img src="/img/content/icons/arrow-up-5.png" class="center" alt="Godzinę wcześniej">
              </button>
            </li>
            <li>
              <button type="button" class="left btn btn-down-up">
                <img src="/img/content/icons/arrow-down-5.png" class="center" alt="Godzinę później">
              </button>
            </li>
          </ul>
          <!-- /.wcag-flat -->
        </div><!-- btn-group-vertical hours -->
        <div class="data-field">
          <fieldset>
            <label for="hour" class="wcag-hide">
              Godzina odjazdu
            </label>
            <input id="hour" type="text" class="day-hour form-control" placeholder="22:08" style="text-align: right;"><!-- day-hour -->
          </fieldset>
        </div><!-- data-field -->
        <div class="btn-group-vertical minutes">
          <ul class="wcag-flat">
            <li>
              <button type="button" class="left btn btn-time-up">
                <img src="/img/content/icons/arrow-up-5.png" class="center" alt="1 minut wcześniej">
              </button>
            </li>
            <li>
              <button type="button" class="left btn btn-down-up">
                <img src="/img/content/icons/arrow-down-5.png" class="center" alt="1 minut później">
              </button>
            </li>
          </ul>
        </div><!-- btn-group-vertical minutes -->
      </div><!-- row -->
      <!-- ########## HOUR ########## -->
    </div>
    <!-- /.col-4 -->
    <div class="col-5">
      <div class="row">
        <button type="submit" class="new-search">
          <span class="upcase">Wyszukaj</span>
          <img src="/img/header/search-w.png" alt="">
        </button>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-5 -->
  </div>

{% endblock %}
