{% block body %}

  <div class="left-col searcher-pl" id="wyszukiwarka" tabindex="0">

    <!-- ########## MAP ########## -->
    <div class="map">
      <span class="map-close">zamknij<strong>[X]</strong></span>
      <img src="/img/content/icons/map/mapa3.png" class="img-responsive" alt="">
    </div>
    <!-- /.map -->
    <!-- ########## MAP ########## -->
    <span id="wcag-h1" class="help-1 ico-main-search-4 pover qhelp" data-container="body" data-toggle="popover" data-placement="left" data-content="Wpisz stację" data-qhelp-name="sq-pola-stacja" data-original-title="" title="">?<span class="wcag-hide">Wpisz stację</span></span>
    <!-- ########## FROM SEARCH MAIN ########## -->
    <div class="wcag-outline-wrp"><h2 class="wcag-hide">Wyszukiwarka połączeń kolejowych - ze stacji</h2></div>
    <form action="/pl/sq?ld=s20test&amp;#focus" name="sq_query" method="get" class="form-horizontal" onsubmit="return validateEvaNumber()" novalidate="novalidate">
      <input type="hidden" name="maxJourneys" value="10">
      <!-- ########## FROM ########## -->
      <div class="row from">
        <div class="new-request">
          <a href="/pl" > {# todo url z locale !!! #}
            <span id="wcag-h-reload" class="reload pover qhelp" data-container="body" data-toggle="popover" data-placement="top" data-content="Wyczyść formularz" data-qhelp-name="nowe-zapytanie" data-original-title="" title="">
            <span>Nowe zapytanie <img src="/img/content/icons/main/reload.png" class="xs-pic" alt=""></span>
            <span class="wcag-hide">Wyczyść formularz</span>
          </span>
          </a>
        </div>
        <!-- midpage -->
        <!-- /.col-md-12 name-search -->
        <div class="col-1">
          <!-- img src="/img/content/icons/from.png" class="ico-search from" alt="" /> -->
{#          <span id="wcag-h-from" class="ico-main-search pover qhelp" data-container="body" data-toggle="popover" data-placement="top" data-content="Nazwa stacji" data-qhelp-name="sq-stacja" data-original-title="" title=""><img src="/img/content/icons/main/from.png"><span class="wcag-hide">Nazwa stacji</span></span>#}
        </div><!--	col-1 -->
        <div class="col-2">
          <!-- Text input-->
          <div class="input-group input-group--table active">
            <div class="d-table">
              <div class="input-group-addon--fix input-group-addon--fix-from upper">
                <img src="/img/content/icons/main/from.png" alt="">Z:
              </div>
              <fieldset>
                <label for="from-station" class="wcag-hide">Ze stacji:</label>
                <input type="hidden" name="REQ0JourneyStopsS0A" value="1">
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"
                      style="display: none;"></span><input type="text" id="from-station"
                                                           class="form-control form-control--switch station-autocomplete z1 ui-autocomplete-input"
                                                           name="REQ0JourneyStopsS0G" value="" autocomplete="station">
              </fieldset>
            </div>
            <button class="g-maps-to" type="button">
              <img src="/img/content/icons/map.png" alt="Mapa">
            </button><!-- g-maps-to -->
            <input type="hidden" name="REQ0JourneyStopsS0ID" value="">
            <div class="input-group__description">
              <div>Wpisz nazwę stacji</div>
            </div>
          </div><!-- input-group -->
        </div><!-- col-2 -->
      </div><!-- row from -->
      <!-- ########## FROM ########## -->
      <!-- ########## DATE ########## -->
      <!-- ########## DATE CONTAINER ########## -->
      <div class="row date-container">
        <div class="date-wrapper">
          <div class="date-box"></div><!-- data-box -->
          <div class="row data-picker">
            <div class="date-input-box">
              <span class="name-hour upper">Wpisz godzinę</span><!-- name-hour --><br>
              <div class="hour-input-field">
                <!-- <input type="text" id="hour-callendar" class="form-control"	placeholder="" /> --><!-- day-hour -->
                <!-- ########## HOUR ########## -->
                <div class="row">
                  <div class="btn-group-vertical hours">
                    <ul class="wcag-flat">
                      <li>
                        <button type="button" class="left btn btn-time-up">
                          <img src="/img/content/icons/arrow-up-5.png" class="center" alt="Godzinę wcześniej">
                        </button>
                      </li>
                      <li>
                        <button type="button" class="left btn btn-down-up">
                          <img src="/img/content/icons/arrow-down-5.png" class="center" alt="Godzinę później">
                        </button>
                      </li>
                    </ul>
                    <!-- /.wcag-flat -->
                  </div><!-- btn-group-vertical hours -->
                  <div class="data-field" aria-live="polite" aria-atomic="true">
                    <fieldset>
                      <label for="hour-callendar" class="wcag-hide">Wpisz godzinę</label>
                      <input type="text" id="hour-callendar" class="day-hour form-control" placeholder="" style="text-align: right;"><!-- day-hour -->
                    </fieldset>
                  </div><!-- data-field -->
                  <div class="btn-group-vertical minutes">
                    <ul class="wcag-flat">
                      <li>
                        <button type="button" class="left btn btn-time-up">
                          <img src="/img/content/icons/arrow-up-5.png" class="center" alt="1 minut wcześniej">
                        </button>
                      </li>
                      <li>
                        <button type="button" class="left btn btn-down-up">
                          <img src="/img/content/icons/arrow-down-5.png" class="center" alt="1 minut później">
                        </button>
                      </li>
                    </ul>
                    <!-- /.wcag-flat -->
                  </div><!-- btn-group-vertical minutes -->
                </div><!-- row -->
                <!-- ########## HOUR ########## -->
              </div><!-- hour-input-field -->
              <div id="slider-horizontal"></div>
              <span class="hour-slider upcase">Godzina:</span>
              <!-- <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" /> -->
              <div id="slider-horizontal2"></div>
              <span class="minute-slider upcase">Minuta:</span>
              <!-- <input type="text" id="amount2" style="border: 0; color: #f6931f; font-weight: bold;" /> -->
            </div><!-- date-input-box -->
            <button type="button" class="btn btn-default pick-date upcase">Wybierz datę</button>
            <button type="button" class="btn btn-default now upcase">Teraz</button>
          </div><!-- row -->
        </div><!-- date-wrapper -->
      </div><!-- data-container -->
      <!-- ########## DATA CONTAINER ########## -->
      <!-- ########## DATA OPTIONS ########## -->
      <!-- ########## DATA PICKER ########## -->
      <div class="row data-picker">
        <span id="wcag-h2" class="help-2 help-2-ws ico-main-search-4 pover qhelp" data-container="body" data-toggle="popover" data-placement="left" data-content="Podaj czas odjazdu lub przyjazdu" data-qhelp-name="sq-pola-czas" data-original-title="" title="">?<span class="wcag-hide">Podaj czas odjazdu lub przyjazdu</span></span>
        <div class="col-1">
          <!-- <img src="/img/content/icons/clock.png" class="ico-search clock" /> -->
{#          <span id="wcag-h-time" class="time ico-main-search pover qhelp" data-container="body" data-toggle="popover" data-placement="top" data-content="Wybierz godzinę odjazdu lub przyjazdu pociągu" data-qhelp-name="sq-wybierz-godzine" data-original-title="" title=""><img src="/img/content/icons/main/time.png" alt=""><span class="wcag-hide">Wybierz godzinę odjazdu lub przyjazdu pociągu</span></span>#}
        </div><!-- col-1 -->
        <div class="col-2">
          <!-- ########## DATA ########## -->
          <div class="callender">
                    <span class="img-data-picke ico-main-search-2 pover qhelp pointer" data-container="body"
                          data-toggle="popover" data-placement="top"
                          data-content="Wybór daty odjazdu bądź przyjazdu pociągu" data-qhelp-name="wybierz-date"
                          data-original-title="" title=""><img src="/img/content/icons/main/cal.png" alt="Wybierz datę"><span
                          class="wcag-hide">Wybór daty odjazdu bądź przyjazdu pociągu</span></span>
            <span class="upper pointer">
              <img src="/img/content/icons/main/cal.png" style="display:none;" alt="" class="xs-pic">Wybierz datę
            </span>
          </div>
          <div class="row">
            <button type="button" class="left btn-pkp-reverse">
              <img src="/img/content/icons/arrow-left-4.png" class="center" alt="Dzień wcześniej">
            </button>
            <div class="data-filed"><span class="day-name" style="float: none; margin-top: 7px;">CZWARTEK </span><span class="day-number">6 </span><span class="day-month" style="float: none;">CZERWIEC </span><span class="day-year" style="float: none;">2019 </span><input type="hidden" name="date" value="06.06.19"><input type="hidden" name="dateStart" value="06.06.19"><input type="hidden" name="REQ0JourneyDate" value="06.06.19"><input type="hidden" name="time" value="22:04"></div><!-- data-field -->
            <button type="button" class="right btn-pkp-reverse">
              <img src="/img/content/icons/arrow-right-4.png" class="center" alt="Dzień później">
            </button>
          </div><!-- row -->
          <!-- ########## DATA ########## -->
          <div class="line"></div>
        </div><!-- col-2 -->
        <div class="col-3">
          <!-- ########## HOUR ########## -->
          <div class="callender">
                    <span class="img-data-picke ico-main-search-2 pover qhelp pointer" data-container="body"
                          data-toggle="popover" data-placement="top"
                          data-content="Wybór daty odjazdu bądź przyjazdu pociągu" data-qhelp-name="wpisz-godzine"
                          data-original-title="" title=""><img src="/img/content/icons/main/time.png" alt="Wpisz godzinę"><span
                          class="wcag-hide">Wybór daty odjazdu bądź przyjazdu pociągu</span></span>
            <span class="upper pointer"><img src="/img/content/icons/main/time.png" style="display:none;" alt=""
                                             class="xs-pic">Wpisz godzinę</span>
          </div>
          <div class="row">
            <div class="btn-group-vertical hours">
              <ul class="wcag-flat">
                <li>
                  <button type="button" class="left btn btn-time-up">
                    <img src="/img/content/icons/arrow-up-5.png" class="center" alt="Godzinę wcześniej">
                  </button>
                </li>
                <li>
                  <button type="button" class="left btn btn-down-up">
                    <img src="/img/content/icons/arrow-down-5.png" class="center" alt="Godzinę później">
                  </button>
                </li>
              </ul>
              <!-- /.wcag-flat -->
            </div><!-- btn-group-vertical hours -->
            <div class="data-field">
              <fieldset>
                <label for="hour" class="wcag-hide">Wpisz godzinę</label>
                <input id="hour" type="text" class="day-hour form-control" placeholder="" style="text-align: right;"><!-- day-hour -->
              </fieldset>
            </div><!-- data-field -->
            <div class="btn-group-vertical minutes">
              <ul class="wcag-flat">
                <li>
                  <button type="button" class="left btn btn-time-up">
                    <img src="/img/content/icons/arrow-up-5.png" class="center" alt="1 minut wcześniej">
                  </button>
                </li>
                <li>
                  <button type="button" class="left btn btn-down-up">
                    <img src="/img/content/icons/arrow-down-5.png" class="center" alt="1 minut później">
                  </button>
                </li>
              </ul>
            </div><!-- btn-group-vertical minutes -->
          </div><!-- row -->
          <!-- ########## HOUR ########## -->
          <div class="checkbox1" tabindex="0">
            <fieldset>
              <label class="pointer">
                <div class="iradio_minimal-blue checked" style="position: relative;"><input type="radio" name="boardType" value="dep" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><span>odjazdu</span>
              </label>
            </fieldset>
          </div><!-- checkbox1 -->
          <div class="checkbox2" tabindex="0">
            <fieldset>
              <label class="pointer">
                <div class="iradio_minimal-blue" style="position: relative;"><input type="radio" name="boardType" value="arr" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><span>przyjazdu</span>
              </label>
            </fieldset>
          </div><!-- checkbox2 -->
        </div><!-- col-3 -->
      </div><!-- row data-picker -->
      <!-- ########## DATA PICKER ########## -->
      <!-- ########## DATA OPTIONS ########## -->
      <div class="row data-options">
      </div><!-- row data-options -->
      <!-- ########## TRAVEL OPTIONS ########## -->
      <div class="row travel-options panel-group in" id="accordion" style="height: auto;">
        <div class="panel panel-default">
          <span id="wcag-h3" class="help-3 ico-main-search-4 pover qhelp" data-container="body" data-toggle="popover" data-placement="left" data-content="Ustaw opcje dodatkowe" data-qhelp-name="sq-pola-opcje-dodatkowe" data-original-title="" title="">?<span class="wcag-hide">Ustaw opcje dodatkowe</span></span>
          <a class="row options-header accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" tabindex="0">
            <span class="mainspan">Środki transportu:</span>
            <span class="altspan" style="display: none">Opcje połączeń:</span>
            <img src="/img/content/icons/arrow-down-3.png" class="arrow-down-3" alt="">
            <img src="/img/content/icons/arrow-up-2.png" class="arrow-up-2" alt="">
          </a>
          <div id="collapseOne" class="panel-collapse collapse">
            <fieldset>
              <h3 class="do-in" style="display: none">
                Środki transportu
              </h3>
              <div class="row option">
                <!--img src="/img/content/icons/st-3.png" class="option-icon" alt="EC/IC/EIC/EX" /-->
                <img src="/hafas-res/img/sel_prod_ice.gif" alt="Kolej dużych prędkości">
                <div class="checkbox3">
                  <label for="GUIREQProduct_0" class="wcag-hide">Kolej dużych prędkości</label>
                  <label class="ac">
                    <div class="icheckbox_minimal-blue checked" style="position: relative;"><input type="checkbox" name="GUIREQProduct_0" id="GUIREQProduct_0" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <span>Kolej dużych prędkości</span>
                  </label>
                </div><!-- checkbox2 -->
              </div><!-- row option -->
              <div class="row option">
                <!--img src="/img/content/icons/st-3.png" class="option-icon" alt="EC/IC/EIC/EX" /-->
                <img src="/hafas-res/img/sel_prod_ic.gif" alt="EIP/EIC/EC/IC/Ex">
                <div class="checkbox3">
                  <label for="GUIREQProduct_1" class="wcag-hide">EIP/EIC/EC/IC/Ex</label>
                  <label class="ac">
                    <div class="icheckbox_minimal-blue checked" style="position: relative;"><input type="checkbox" name="GUIREQProduct_1" id="GUIREQProduct_1" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <span>EIP/EIC/EC/IC/Ex</span>
                  </label>
                </div><!-- checkbox2 -->
              </div><!-- row option -->
              <div class="row option">
                <!--img src="/img/content/icons/st-3.png" class="option-icon" alt="EC/IC/EIC/EX" /-->
                <img src="/hafas-res/img/sel_prod_ir-d.gif" alt="IC/TLK/IR/RE/D/Posp.">
                <div class="checkbox3">
                  <label for="GUIREQProduct_2" class="wcag-hide">IC/TLK/IR/RE/D/Posp.</label>
                  <label class="ac">
                    <div class="icheckbox_minimal-blue checked" style="position: relative;"><input type="checkbox" name="GUIREQProduct_2" id="GUIREQProduct_2" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <span>IC/TLK/IR/RE/D/Posp.</span>
                  </label>
                </div><!-- checkbox2 -->
              </div><!-- row option -->
              <div class="row option">
                <!--img src="/img/content/icons/st-3.png" class="option-icon" alt="EC/IC/EIC/EX" /-->
                <img src="/hafas-res/img/sel_prod_re-rb.gif" alt="Regio/Osobowe" style="">
                <div class="checkbox3">
                  <label for="GUIREQProduct_3" class="wcag-hide">Regio/Osobowe</label>
                  <label class="ac">
                    <div class="icheckbox_minimal-blue checked" style="position: relative;"><input type="checkbox" name="GUIREQProduct_3" id="GUIREQProduct_3" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> <span>Regio/Osobowe</span>
                  </label>
                </div><!-- checkbox2 -->
              </div><!-- row option -->
            </fieldset>
          </div><!-- collapseOne -->
        </div><!-- panel panel-default -->
        <div class="panel panel-default">
          <a class="row options-footer accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" tabindex="0">
            <span class="upcase">Zaawansowane:</span>
            <img src="/img/content/icons/arrow-down-3.png" class="arrow-down-3" alt="">
            <img src="/img/content/icons/arrow-up-2.png" class="arrow-up-2" alt="">
          </a>
          <div id="collapseTwo" class="panel-collapse collapse">
            <fieldset>
              <h3 class="do-in" style="display: none">
                Filtr
              </h3>
              <div class="row option op-2">
                <span class="f-name">Wyświetlić</span>
                <div class="checkbox3">
                  <label for="maxJourneys" class="wcag-hide">Wyświetlić</label>
                  <label>
                    <select name="maxJourneys" style="display: none;">
                      <option value="5">5 połączeń</option>
                      <option value="10" selected="selected">10 połączeń</option>
                      <option value="20">20 połączeń</option>
                      <option value="30">30 połączeń</option>
                      <option value="40">40 połączeń</option>
                      <option value="50">50 połączeń</option>
                      <option value="99&amp;timeSlots=1&amp;time=00:00">rozkład całodobowy</option>
                    </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"><div class="filter-option pull-left">10 połączeń</div>&nbsp;<div class="caret"></div></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li rel="0"><a tabindex="0" class="" style=""><span class="text">5 połączeń</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1" class="selected"><a tabindex="0" class="" style=""><span class="text">10 połączeń</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">20 połączeń</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="3"><a tabindex="0" class="" style=""><span class="text">30 połączeń</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="4"><a tabindex="0" class="" style=""><span class="text">40 połączeń</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="5"><a tabindex="0" class="" style=""><span class="text">50 połączeń</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="6"><a tabindex="0" class="" style=""><span class="text">rozkład całodobowy</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
                  </label>
                </div><!-- checkbox2 -->
              </div><!-- row option op-2 -->
              <div class="row option op-2">
                <span class="f-name">do</span>
                <div class="checkbox3">
                  <label for="dateEnd" class="wcag-hide">do</label>
                  <input style="margin-right:10px" class="attach-datepicker hasDatepicker" type="text" name="dateEnd" value="06.06.19" size="10" maxlength="14" onkeypress="javascript:if (event.which==13) this.form.start.click();" id="dp1559852534630">
                </div><!-- checkbox3 -->
              </div><!-- row option op-2 -->
            </fieldset>
          </div><!-- collapseTwo -->
        </div><!-- panel panel-default -->
      </div><!-- accordion -->
      <!-- ########## TRAVEL OPTIONS ########## -->
      <input type="hidden" name="advancedProductMode">
      <!-- Button -->
      <div class=" row control-group control-group--search-button">
        <div class="col-3">
          <div class="controls">
            <button type="submit" id="singlebutton" name="start" class="btn btn-primary">
              <span>WYSZUKAJ POŁĄCZENIE <img src="/img/header/search_ico.png" class="search-icon" alt=""></span>
              <span class="glyphicon glyphicon-repeat ico-main-search"></span>
            </button>
          </div>
        </div><!-- col-3 -->
      </div>
    </form>
    <!-- ########## FROM SEARCH MAIN ########## -->

  </div>

  <script>
      (function ($) {
          $(document).ready(function () {
              ///
              // od tąd kopiuj, trza to wsadzić gdzieś
              // gdzie hafas utworzy już wszystkie elementy DOM
              // używane przez ten skrypt
              ///
              (function () {
                  var groups = $('.input-group--table');
                  if (groups && groups.length > 0) {
                      $('.input-group--table').each(function (index, item) {
                          var input = $(item).find('.form-control--switch');
                          var description = $(item).find('.input-group__description');
                          var descriptionVia = $(item).find('.input-group__description--via').find('.input-group__description-text');

                          input.focus(function() {
                              if (description) description.css('visibility', 'hidden');
                              if (descriptionVia) descriptionVia.css('visibility', 'hidden');
                          });

                          input.focusout(function() {
                              if (!input.val()) {
                                  description.css('visibility', 'visible');
                                  descriptionVia.css('visibility', 'visible');
                              }
                          });
                      });
                  }
              })();
              ///
              // koniec do kopiowania
              ///
          });
      })(jQuery);
  </script>

{% endblock %}
