{% block body %}

  <div class="search" id="wyszukiwarka-wyniki" tabindex="0">
    <input type="hidden" name="start">
    <div class="col-2">
      <div class="input-group input-group--table active">
        <div class="d-table">
          <div class="input-group-addon--fix input-group-addon--fix-train upper">
            <img src="/img/content/icons/main/train-ico.png" alt="">
          </div>
          <fieldset>
            <input type="text" class="form-control form-control--switch" name="trainname" value="">
          </fieldset>
        </div>
        <div class="input-group__description">
          <div>NR POCIAGU/LINII</div>
        </div>
      </div><!-- input-group -->
    </div>
    <!-- /.col-2 -->
    <div class="col-1">
      <div class="input-group input-group--table active">
        <div class="d-table">
          <div class="input-group-addon--fix input-group-addon--fix-place upper">
            <img src="/img/content/icons/main/place-ico.png" alt="">
          </div>
          <fieldset>
            <label for="wcag-t-name" class="wcag-hide">Stacja/ <br>przystanek:</label>
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible" style="display: none;"></span>
            <input id="wcag-t-name" type="text" class="form-control form-control--switch station-autocomplete ui-autocomplete-input" placeholder="" value="" autocomplete="off">
          </fieldset>
        </div>
        <div class="input-group__description">
          <div>Wpisz nazwę stacji</div>
        </div>
      </div><!-- input-group -->
    </div>
    <!-- /.col-1 -->
    <div class="col-3">
      <!-- ########## DATA ########## -->
      <div class="row">
        <button type="button" class="left btn-pkp-reverse">
          <img src="/img/content/icons/arrow-left-4.png" class="center" alt="Dzień wcześniej">
        </button>
        <div class="data-filed" aria-live="polite" aria-atomic="true"><span class="day-name" style="float: none; margin-top: 7px;">PIĄTEK </span><span class="day-number">7 </span><span class="day-month" style="float: none;">CZERWIEC </span><span class="day-year" style="float: none;">2019 </span><input type="hidden" name="date" value="07.06.19"><input type="hidden" name="dateStart" value="07.06.19"><input type="hidden" name="dateEnd" value="07.06.19"><input type="hidden" name="REQ0JourneyDate" value="07.06.19"></div><!-- data-field -->
        <button type="button" class="right btn-pkp-reverse">
          <img src="/img/content/icons/arrow-right-4.png" class="center" alt="Dzień później">
        </button>
      </div><!-- row -->
      <!-- ########## DATA ########## -->
    </div>
    <!-- /.col-3 -->
    <div class="col-4">
    </div>
    <!-- /.col-4 -->
    <div class="col-5">
      <div class="row">
        <button type="submit" class="new-search">
          <span class="upcase">Wyszukaj</span>
          <img src="/img/header/search-w.png" alt="">
        </button>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-5 -->
  </div>

{% endblock %}
