<h5>Najwygodniejszym sposobem zakupu biletu jest skorzystanie z opcji &bdquo;Kup bilet&rdquo; na naszej stronie. Po wyszukaniu połączenia, z kt&oacute;rego chcesz skorzystać i wybraniu konkretnego przejazdu pojawi się przycisk &bdquo;Kup bilet&rdquo;, kt&oacute;ry przekieruje bezpośrednio do systemu transakcyjnego przewoźnika w przypadku pojedynczego przejazdu lub do systemu <a href="https://bilkom.pl" target="_blank">bilkom.pl</a> w przypadku Wsp&oacute;lnego Biletu. Tam będzie można sfinalizować transakcję.&nbsp;</h5>

<p><strong>Bilety możesz r&oacute;wnież kupić&nbsp;</strong><br />
- w kasie biletowej,<br />
- w automacie biletowym na stacji/przystanku lub w pociągu,<br />
- za pośrednictwem internetu,<br />
- przez aplikację mobilną,<br />
- w pociągu u konduktora.</p>

<p><strong>Przed zakupem biletu zapamiętaj,a najlepiej zanotuj, z usług jakiego przewoźnika będziesz korzystać. Zapisz r&oacute;wnież:</strong><br />
- datę podr&oacute;ży,<br />
- godzinę odjazdu,<br />
- rodzaj pociągu (np. TLK),<br />
- numer pociągu &ndash; to skraca czas oczekiwania przy kasie.</p>

<p>Przed odejściem od kasy biletowej sprawdź, czy bilet został wydany zgodnie z Twoim życzeniem.</p>

<p><img alt="" src="/img/content/banners/bilet-content.jpg" /></p>

<h4><strong>Pamiętaj!</strong></h4>

<h4><strong>W większości kas &ndash; niezależnie od tego, kt&oacute;ry przewoźnik je prowadzi &ndash;kupisz bilet na niemal wszystkie przejazdy.&nbsp;</strong></h4>

<p>Na przykład w kasie Przewoz&oacute;w Regionalnych (PR) bez problemu nabędziesz bilet ważny na pociąg PKP Intercity, Kolei Mazowieckich czy Arrivy RP. Wyjątkami są kasy przewoźnik&oacute;w regionalnych &ndash; np. Kolei Śląskich &ndash; w kt&oacute;rych kupisz bilety tylko danego przewoźnika i PR oraz przewoźnik&oacute;w aglomeracyjnych sprzedających zasadniczo tylko własne bilety.</p>

<h4><strong>Bilet jest wystawiany na konkretną datę, trasę, przewoźnika i rodzaj pociągu, ale niekoniecznie na konkretny pociąg.&nbsp;</strong></h4>

<p>Oznacza to, że w okresie ważności biletu możesz podr&oacute;żować dowolnymi pociągami objętymi daną ofertą (w tym r&oacute;wnież przesiadać się i robić przerwy w&nbsp;podr&oacute;ży). Wyjątkiem są pociągi PKP Intercity. Bilet jednorazowy ważny jest wyłącznie w określonym pociągu ze wskazaniem konkretnego zarezerwowanego miejsca (w pociągach TLK i IC kursujących na trasie Warszawa &ndash; Ł&oacute;dź rezerwacja miejsc dotyczy tylko klasy pierwszej).</p>

<h4><strong>Po zakupie biletu możesz rozszerzyć jego zakres.</strong></h4>

<p>Jeśli zdecydujesz się na dopłatę, możesz:<br />
- podwyższyć kategorię/rodzaj pociągu (w ramach tego samego przewoźnika),<br />
- przedłużyć trasę przejazdu (ale bez zmiany przewoźnika),<br />
- przenieść się do wyższej klasy wagonu.</p>

<p>W pozostałych sytuacjach (np. zmiana wymiaru ulgi, zmiana przewoźnika) konieczny jest zwrot biletu i zakup nowego.<br />
W przypadku kolei aglomeracyjnych i części połączeń regionalnych &ndash; zwłaszcza w rejonie dużych miast &ndash; r&oacute;wnolegle do taryf kolejowych mogą obowiązywać wybrane bilety komunikacji miejskiej.</p>

<p>&nbsp;</p>

<h4><strong style="margin-right: 20px">Lista przewoźnik&oacute;w znajduje się r&oacute;wnież na stronie UTK.</strong><a class="btn btn--news-go" href="https://www.utk.gov.pl/" target="_blank">PRZEJDŹ</a></h4>
