<div class="contact-banners">
  <div class="col-sm-6">
    <div class="contact-banners__item contact-banners__item--tickets"><a href="http://rozklad-pkp.pl/pl/page/bilety">JAK KUPIĆ BILET?</a></div>
  </div>

  <div class="col-sm-6">
    <div class="contact-banners__item contact-banners__item--complaints"><a href="http://rozklad-pkp.pl/pl/page/reklamacje">JAK REKLAMOWAĆ I SKŁADAĆ SKARGĘ?&nbsp;</a></div>
  </div>
</div>

<h4 style="text-align: center;">CENY BILET&Oacute;W, SZCZEG&Oacute;ŁY POŁĄCZEŃ I REKLAMACJE - PROSIMY O KONTAKT<br />
  BEZPOŚREDNIO Z PRZEWOŹNIKIEM OBSŁUGUJĄCYM DANE POŁĄCZENIE</h4>

<p>&nbsp;</p>

<div class="table-wrapper table-responsive">
  <table>
    <thead>
    <tr>
      <th>Nazwa przewoźnika</th>
      <th class="helpline-w">Infolinia</th>
      <th class="call-cost-w">Koszt połączenia</th>
      <th class="website-w">Strona internetowa</th>
    </tr>
    </thead>
    <thead>
    </thead>
    <tbody>
    <tr>
      <td><strong>PKP Intercity (Grupa PKP)</strong></td>
      <td>703 200 200</td>
      <td>opłata 1,29 zł/min</td>
      <td><a href="http://www.intercity.pl/" target="_blank">www.intercity.pl</a></td>
    </tr>
    <tr>
      <td><strong>PKP Szybka Kolej Miejska w Tr&oacute;jmieście (Grupa PKP)</strong></td>
      <td>(58) 721 21 70</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://www.skm.pkp.pl" target="_blank">www.skm.pkp.pl</a></td>
    </tr>
    <tr>
      <td><strong>Przewozy Regionalne</strong></td>
      <td>703 20 20 20</td>
      <td>opłata 1,29 zł/min</td>
      <td><a href="http://www.przewozyregionalne.pl" target="_blank">www.przewozyregionalne.pl</a></td>
    </tr>
    <tr>
      <td><strong>Koleje Mazowieckie</strong></td>
      <td>(22) 364 44 44</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://www.mazowieckie.com.pl" target="_blank">www.mazowieckie.com.pl</a></td>
    </tr>
    <tr>
      <td><strong>Koleje Dolnośląskie</strong></td>
      <td>(76) 753 52 05<br />
        (76) 753 51 22<br />
        703 302 503</td>
      <td>opłata 1,29 zł/min</td>
      <td><a href="http://www.kolejedolnoslaskie.eu" target="_blank">www.kolejedolnoslaskie.eu</a></td>
    </tr>
    <tr>
      <td><strong>Koleje Wielkopolskie</strong></td>
      <td>(61) 279 27 78</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://www.koleje-wielkopolskie.com.pl" target="_blank">www.koleje-wielkopolskie.com.pl</a></td>
    </tr>
    <tr>
      <td><strong>Koleje Śląskie</strong></td>
      <td>(32) 428 88 88</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://www.kolejeslaskie.com" target="_blank">www.kolejeslaskie.com</a></td>
    </tr>
    <tr>
      <td><strong>Arriva</strong></td>
      <td>801 081 515<br />
        (22) 481 39 48</td>
      <td>opłata za minutę połączenia wynosi 2,08 zł brutto</td>
      <td><a href="http://www.arriva.pl" target="_blank">www.arriva.pl</a></td>
    </tr>
    <tr>
      <td><strong>Szybka Kolej Miejska</strong></td>
      <td>801 044 484</td>
      <td>koszt połączenia z numerem specjalnym 19 115 jest zgodny z taryfą operatora osoby dzwoniącej</td>
      <td><a href="http://www.skm.warszawa.pl" target="_blank">www.skm.warszawa.pl</a></td>
    </tr>
    <tr>
      <td><strong>Warszawska Kolej Dojazdowa</strong></td>
      <td>(22) 758 00 12<br />
        (22) 755 70 82</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://www.wkd.com.pl" target="_blank">www.wkd.com.pl</a></td>
    </tr>
    <tr>
      <td><strong>Ł&oacute;dzka Kolej Aglomeracyjna</strong></td>
      <td>(42) 205 55 15</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://lka.lodzkie.pl/">www.lka.lodzkie.pl</a></td>
    </tr>
    <tr>
      <td><strong>Koleje Małopolskie</strong></td>
      <td>703 20 20 25</td>
      <td>opłata 1,29 zł/min</td>
      <td><a data-mce-href="http://www.malopolskiekoleje.pl" href="http://www.malopolskiekoleje.pl" target="_blank">www.malopolskiekoleje.pl</a></td>
    </tr>
    <tr>
      <td><strong>SKPL</strong></td>
      <td>799 060 001</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://www.shortlines.pl" target="_blank">www.shortlines.pl</a></td>
    </tr>
    <tr>
      <td><strong>Usedomer B&auml;derbahn</strong></td>
      <td>+49 38 378 27 10</td>
      <td>opłata za minutę połączenia zgodna jest ze stawką operatora</td>
      <td><a href="http://www.ubb-online.com" target="_blank">www.ubb-online.com</a></td>
    </tr>
    </tbody>
  </table>
</div>

<p>&nbsp;</p>
