<h5>Gdy wsiadasz do pociągu, stajesz się nie tylko pasażerem, ale także klientem. Unijne rozporządzenie 1371/2007 daje Ci prawo do kompleksowej informacji od sp&oacute;łki kolejowej w trakcie podr&oacute;ży, do uzyskania odszkodowania i&nbsp;pomocy w&nbsp;przypadku op&oacute;źnienia pociągu, a&nbsp;także do otrzymania pomocy, gdy Twoja sprawność ruchowa jest ograniczona.&nbsp;<br />
  Jeżeli przewoźnik nie wywiązuje się ze swoich zobowiązań, narusza warunki rozporządzenia.</h5>

<p>&nbsp;</p>

<h4><strong style="margin-right: 20px">Szczeg&oacute;łowe informacje znajdują się na stronie Urzędu Transportu Kolejowego:</strong><a class="btn btn--news-go" href="https://www.utk.gov.pl/" target="_blank">PRZEJDŹ</a></h4>

<p>&nbsp;</p>

<p>Jeżeli chcesz zwr&oacute;cić uwagę na nieprawidłowości w funkcjonowaniu systemu kolejowego (np. dotyczące złego stanu technicznego taboru, błęd&oacute;w w informacji pasażerskiej czy naruszenia praw os&oacute;b niepełnosprawnych), zł&oacute;ż skargę do Prezesa Urzędu Transportu Kolejowego. Sprawdzi on, czy nie zostały naruszone prawa pasażer&oacute;w lub obowiązujące przepisy dotyczące bezpieczeństwa. Zgłoszenie możesz przesłać za pomocą formularza kontaktowego lub mailowo pod adresem: <a href="mailto:pasażer@utk.gov.pl">pasazer@utk.gov.pl.</a> Informacje o prawach pasażer&oacute;w dostępne są pod numerem telefonu (+48) 22 460 40 80.</p>

<p>Jeżeli natomiast przedsiębiorca kolejowy nie uznał Twojej reklamacji, a Ty nie zgadzasz się z jego decyzją, możesz zwr&oacute;cić się o pomoc do Rzecznika Praw Pasażera Kolei. Jeśli domagasz się rekompensaty od przewoźnika czy zarządcy infrastruktury, nie musisz iść do sądu. Długotrwały proces może zastąpić postępowanie przed Rzecznikiem Praw Pasażera Kolei. Nie powinno ono trwać dłużej niż 90 dni.</p>

<p>Z pomocy Rzecznika możesz skorzystać w przypadku sporu z przedsiębiorcą w sprawach dotyczących zobowiązań wynikających z um&oacute;w przewozu os&oacute;b, rzeczy lub zwierząt w transporcie kolejowym. Stroną takiego sporu, opr&oacute;cz przewoźnika kolejowego, może być także sprzedawca bilet&oacute;w lub operator turystyczny. Ponadto Rzecznik prowadzi postępowania w sprawach dotyczących innych usług świadczonych na rzecz pasażer&oacute;w przez przewoźnika kolejowego, zarządcę infrastruktury kolejowej, właściciela dworca bądź zarządzającego dworcem.</p>

<p>PKP S.A., jako zarządca dworc&oacute;w, wyraża zgodę na udział w postępowaniach polubownych przed Rzecznikiem w przypadkach ewentualnych spor&oacute;w z użytkownikami dworc&oacute;w. Więcej informacji na temat postępowań polubownych przed Rzecznikiem oraz interaktywny formularz wniosku znajdziesz na stronie internetowej <a href="http://www.pasazer.gov.pl" target="_blank">www.pasazer.gov.pl</a></p>

<h4>&nbsp;</h4>

<h4><strong style="margin-right: 20px">Lista przewoźnik&oacute;w znajduje się r&oacute;wnież na stronie UTK.</strong><a class="btn btn--news-go" href="https://www.utk.gov.pl/" target="_blank">PRZEJDŹ</a></h4>
